
  

  .navLink {
    text-decoration: none;
    display: block;
    position: relative;
    line-height: 61px;
    letter-spacing: 2px;
    color: #F73E24;
    transition: .3s linear;
  }
  
  .navLink:before {
    content: "";
    width: 9px;
    height: 9px;
    background: #F73E24;
    position: absolute;
    left: 50%;
    top: -20px; 
    transform: rotate(45deg) translateX(6.5px);
    opacity: 0;
    transition: .3s linear;
  }
  
  .navLink:hover:before {
    opacity: 1;
  }
@media (max-width: 766px) {


.navLink {padding: 0 10px;}
.navLink:before {
  transform: rotate(45deg) translateX(-6px) ;
  width: 6px;
  height: 6px;
  left: 0%;
  top: 10px; 
}

}
