@keyframes scroll {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}

.layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    animation: scroll 60s linear infinite;
}




.stars {
    /* background-image: url('/media/starfield/1.jpg');
    animation-duration: 60s; */
    background: url('/media/starfield/1.jpg') repeat;
    animation: scroll 60s linear infinite;
}


.asteroids {
    /* background-image: url('/media/asteroids/1.jpg');
    animation-duration: 120s; */
    background: url('/media/asteroids/1.jpg') repeat;
    animation: scroll 120s linear infinite;
}

.galaxies {
    /* background-image: url('/media/galaxy/hero.png');
    animation-duration: 180s; */

    background: url('/media/galaxy/hero.png') repeat;
    animation: scroll 180s linear infinite;
}